<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dylan.ourcloud" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.c2dm.permission.RECEIVE" />

    <permission android:name="com.example.dylan.ourcloud.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.example.dylan.ourcloud.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND"
            >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.example.dylan.ourcloud"/>
            </intent-filter>
        </receiver>

        <service android:name=".live_zone.LiveUsers"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".GcmTokenGrab"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service android:name=".live_zone.NewLiveUser"
            android:exported="false"/>

        <service android:name=".live_zone.ExitLiveUser"
            android:exported="false"/>

        <activity android:name=".home_zone.ThisZone" android:label="ThisZone" />
        <activity android:name=".PostComposeActivity" android:label="New Post" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>
        <activity android:name=".post_detail.PostDetailView" android:label="Post" />
        <activity android:name=".live_zone.ZoneUserList"/>
        <activity android:name=".live_zone.ChatConvo" android:launchMode="singleTask" />

    </application>



</manifest>
